<form method="GET">
	Location:
	<input type="text" name="semester">
	User:
	<input type="text" name="year">
	<input type="submit" value="Submit">
</form>
<table>
	<tr>
		<th>Location</th>
		<th>Name</th>
		<th>Rating</th>
	</tr>
	{{#each rev as |r|}}
	<tr>
		<td>{{r.location}}</td>
		<td>{{r.location.name}}</td>
		<td>{{r.rating}}</td>
	</tr>
	{{/each}}
</table>

