<!DOCTYPE html>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
<head>
<title></title>
</head>
<body>
	<h1>Reviews</h1>
		{{{body}}}

	<h3>
		<a class="foot-link" type="text/html" href="/">Review List</a>
		<a class="foot-link" type="text/html" href="/reviews/add">Add a review</a>	
		<a class="foot-link" type="text/html" href="/reviews/mine">Added this session</a>	
	</h3>
	<div>
		<h3>
			page visits for this session: {{{count}}}
		</h3>
	</div>
</body>
</html>
