
<body>
<h3 id='mapLoc'>{{{rev.location}}}</h3>
<div id="map"></div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSpXd5s1YcQWtPL3sFn6b8xyl-2ii_qbo&callback=initMap">
</script>
</body>