<h1 id="page-title">Login</h1>
<form  method="POST">
	Username:
	<input type="text" name="username">
	Password:
	<input type="password" name="password">
	<input type="submit" value="Submit">
</form>
<div style="text-align: center;">
    <span>Not a member? <a href='/register'>Register here</a></span>
</div>