<h1 id="page-title">Register</h1>
<h2>{{message}}</h2>
<form  method="POST">
	Username:
	<input type="text" name="username">
	Password:
	<input type="password" name="password">
    Email Address:
	<input type="text" name="email">
	<input type="submit" value="Submit">
</form>