<h1 id="page-title" >Write a review, {{username}}</h1>
<h2 id='messageWrite'>{{message}}</h2>


<div id="container" class="container">
    <div class="info-form">
        <form id='reviewForm' action="" method="POST" class="justify-content-center">
            <div id="loc" class="form-group col align-self-center">
                <label >Location Name</label>
                <input type="text" name='location' required="true" class="form-control"  placeholder="Name">
            </div>
            <div id="loc" class="form-group col align-self-center">
                <label>Address</label>
                <input type="text" name='address' required="true" class="form-control"  placeholder="Name">
            </div>
            <div id="loc" class="form-group col align-self-center">
                <label >Rating</label>
                <input type="number" name='rating' required="true" class="form-control"  >
            </div>
            <div id='review' class="form-group col align-self-center">
                <label >Review</label>
                <textarea id='revArea' type="text" name='review' required="true" class="form-control"  placeholder="thoughts?"></textarea>
            </div>
            <div id='submit' class="form-group col align-self-center">
                <input id='submitBtn' type="submit" class="form-control" value="Submit">
            </div>
        </form>
    </div>
</div>

<!--
<script>
    console.log("in the 'write a review' page")
</script>
-->


