
td, th, span, tr, h1, h3, h2, h5, div, form{
	color: grey;
	font-family: arial;
	text-align: center;
}

h5{
	padding-top: 50px;
}

h1{
	padding-top: 100px;
}

#filterForm{
	padding-bottom: 25px;
}

h3{
	padding-top: 200px;
}

#map {
    height: 400px;
	width: 50%;
	margin: 0 auto;
}

.col{
	padding-bottom: 25px;
}

#submit{
	padding-left: 45%;
	padding-right: 45%;
}


#rev-table{
	padding-top: 400px;
}

#loc, #review{
	padding-left: 30%;
	padding-right: 30%;
}

#container{
	padding-top: 100px;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}

#page-title{
	margin-top: 150px;
}

